{% extends 'base.html' %}

{#{% load main_tags %}#}
{#{% load main_filters %}#}
{% load thumbnail %}

{% block title %}{{ itemmodel.short_name }}{% endblock %}

{% block content %}
    <h2>{{ itemmodel.short_name }}</h2>
    <h4 class="h6">Amount views: {{ amount_views }}</h4>
    <img class="" src="{% thumbnail itemmodel.image 'preview' %}">
    <div class="d-grid gap-2 d-md-block mt-3">
        <a class="btn btn-primary"  href="{% url 'item_list' %}">Back to list</a>
        {% if user.is_authenticated %}
        <a class="btn btn-primary"  href="{% url 'update-item' itemmodel.id %}">Change item</a>
        {% endif %}
    </div>
    <div class="mt-3">
        {{ itemmodel.description | safe }}
    </div>
    {% for copy in itemmodel.additionalimage_set.all %}
        <div style="margin-bottom: 10px;">
            <img class="additional-image" src="{% thumbnail copy.image 'image' %}">
        </div>
    {% endfor %}
{% endblock %}
